/Lesson 2 Assignment/nbproject/private/
/Lesson 2 Assignment/build/
/Lesson 3/BMI Server/nbproject/private/
/Lesson 3/BMI Server/build/
/Lesson 3/BMI Server/dist/
/Lesson 3/BMI Client/nbproject/private/
/Lesson 3/BMI Client/build/
/Lesson 3/BMI Client/dist/
/Lesson 6/nbproject/private/
/Lesson 6/build/
/Lesson 7/Program 1/nbproject/private/
/Lesson 7/Program 1/build/